* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background-image: url(../img/backCar.jpg);
}

.boc {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: antiquewhite; */
}

table {
    height: 80%;
    width: 70%;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
}

td,
tr {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: antiquewhite;
}

td {

    text-align: center;
}

.DoXe {
    text-align: center;
    background-color: lawngreen;
}

button {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    display: table-cell;
    text-align: center;
    border: 1px solid black;
}

td.Cot {
    background-color: rgb(200, 131, 26);
}

.BatDau {
    background-color: rgb(29, 200, 103)
}

.exit {
    background-color: rgb(189, 39, 39);
}
.fix-height{
    height: 85px;
}

table::after {
    content: "";
    width: 100%;
    height: 25px;
    position: absolute;
    background-color: rgb(60 52 52);
    margin-left: -1px;
    padding-right: 1px;
}

